Project.ClinicReception/Project.ClinicReception/Service References/ReceptionReference/ReceptionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Project.ClinicReception.DbEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Project.ClinicReception.DbEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30944/ReceptionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Project.ClinicReception.DbEntity.Enums" />
  <xs:import schemaLocation="http://localhost:30944/ReceptionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Client">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NameEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Age" type="xs:int" />
          <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EditedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Project.ClinicReception.DbEntity.Enums" minOccurs="0" name="Sex" type="q1:Sex" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="NameEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NameEntity" nillable="true" type="tns:NameEntity" />
  <xs:complexType name="IdEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdEntity" nillable="true" type="tns:IdEntity" />
  <xs:complexType name="Doctor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NameEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Age" type="xs:int" />
          <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EditedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Graphic" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Project.ClinicReception.DbEntity.Enums" minOccurs="0" name="Qualification" type="q2:DoctorQualification" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Project.ClinicReception.DbEntity.Enums" minOccurs="0" name="Sex" type="q3:Sex" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Doctor" nillable="true" type="tns:Doctor" />
  <xs:complexType name="Order">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cabinet" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClientOrder" nillable="true" type="tns:Client" />
          <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DoctorOrder" nillable="true" type="tns:Doctor" />
          <xs:element minOccurs="0" name="EditedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Price" type="xs:double" />
          <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="AccountEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountEntity" nillable="true" type="tns:AccountEntity" />
  <xs:complexType name="ArrayOfAccountEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountEntity" nillable="true" type="tns:AccountEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountEntity" nillable="true" type="tns:ArrayOfAccountEntity" />
</xs:schema>